In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
survival=pd.read_csv("Survival.csv")
survival

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
y=survival["Survived"]
y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [6]:
x=survival.drop('Survived',axis=1)
x

     PassengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=1)

In [11]:
x_train

     PassengerId
412         1304
192         1084
161         1053
119         1011
260         1152
..           ...
255         1147
72           964
396         1288
235         1127
37           929

[376 rows x 1 columns]

In [12]:
x_test

     PassengerId
358         1250
164         1056
17           909
67           959
4            896
377         1269
214         1106
290         1182
381         1273
5            897
338         1230
227         1119
191         1083
305         1197
351         1243
409         1301
230         1122
185         1077
101          993
62           954
291         1183
251         1143
228         1120
29           921
256         1148
401         1293
139         1031
298         1190
388         1280
47           939
127         1019
272         1164
186         1078
85           977
232         1124
106          998
373         1265
310         1202
329         1221
402         1294
132         1024
78           970

In [13]:
y_train

412    1
192    0
161    0
119    1
260    0
      ..
255    0
72     1
396    0
235    0
37     1
Name: Survived, Length: 376, dtype: int64

In [14]:
y_test

358    0
164    0
17     0
67     0
4      1
377    0
214    1
290    0
381    0
5      0
338    0
227    1
191    0
305    1
351    0
409    1
230    0
185    0
101    0
62     0
291    1
251    0
228    0
29     0
256    0
401    0
139    0
298    0
388    0
47     0
127    1
272    1
186    1
85     0
232    0
106    0
373    0
310    0
329    0
402    1
132    1
78     0
Name: Survived, dtype: int64

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
model=LogisticRegression()

In [29]:
model.fit(x_train,y_train)

LogisticRegression()

In [33]:
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [34]:
x_train_predict=model.predict(x_train)

In [36]:
train=accuracy_score(x_train_predict,y_train)

In [39]:
train

0.625

In [37]:
x_test_predict=model.predict(x_test)

In [38]:
test=accuracy_score(x_test_predict,y_test)

In [40]:
test

0.7380952380952381